body
{
  /*font-family: 'Krub', sans-serif;*/
  /*font-family: 'Montserrat', sans-serif;*/
  /*font-family: 'Exo', sans-serif;*/
  font-family: 'Titillium Web', sans-serif;
  /*font-family: 'KoHo', sans-serif;*/
  color: #DBDBDB;
  background:#0E50B4;
}
.li_link
{
  display: block;
  float: right;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}
h3
{
  color: #EEBB17;
  
}
p
{
  margin: 10%;
  text-align: left;
}
a
{
  color: #EEBB17;
}
.skills
{
  text-align: left;
  margin: 5% 5% 5% 10%;
  font-size: 1.25em;
}
footer
{
  height: 200px;
  background:rgb(91, 157, 233);
}
.nav_bar
{
  text-align: right;
  position: fixed;
  width: 100%;
  top: 0 px;
  background:rgba(14, 80, 180, 0.787);
  z-index: 1;
}
.h2_left
{
  text-align: left;
  margin-left: 10%;
}
.achievements_imagen
{
  width: 300px;
  height: 200px;
}
.about-divs
{
  width: 320px;
  height: 240px;
  padding-top: 10px;
  background: #EEBB17;
  color: black;
  
  
}
.container-fluid {
  padding: 60px 50px;
}
.floating-box
{
  -webkit-box-shadow: 7px 10px 37px -3px rgba(0,0,0,0.75);
  -moz-box-shadow: 7px 10px 37px -3px rgba(0,0,0,0.75);
  box-shadow: 7px 10px 37px -3px rgba(0,0,0,0.75); 
}
#welcome
{
  min-height: 55vh;
  padding-top: 45vh;
  top: 0;
}
#welcome_name
{
  margin-left: 25%;
  margin-right: 30%;
  padding-bottom: 45vh;
}
#welcome-line
{
  background: rgb(155, 185, 233);
  height: 50px;
  margin-right: 30px;
  position: relative;
  bottom: 30px;
}
#About
{
  background: rgb(155, 185, 233);
  color: rgb(54, 49, 49);
  position: relative;
  height: 80%;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  display: flex;
  flex-direction: row;
  top: 50px;
  
}
#achievements
{
  position: relative;
  top: 50px;
  bottom: 50px;
}
#projects
{
  background: red;
  position: relative;
  top: 50px;
  bottom: 50px;
}
#box_who_i_am
{
  width: 50%;
}
#box_skills
{
  width: 50%;
  background:#EEBB17;
}
#skill_list
{
  margin-top: 10%;
}
#main-doc
{
  background-image: url("blue-tech.jpg");
  background-color:  #1167E8;
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover; 
  text-align: center;
}
#doc-content
{
  background: rgba(91, 157, 233, 0.568);
  margin-left: 60px;
  margin-right: 60px;
  
}
.nav_bar a:hover {
  background: #ddd;
  color: black;
  text-decoration: none;
}