
body
{
  /*font-family: 'Krub', sans-serif;*/
  /*font-family: 'Montserrat', sans-serif;*/
  /*font-family: 'Exo', sans-serif;*/
  font-family: 'Titillium Web', sans-serif;
  /*font-family: 'KoHo', sans-serif;*/
  color: #DBDBDB;
  background:#0E50B4;
}
.li_link
{
  display: block;
  float: right;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}
h3
{
  color: #EEBB17;
}
p
{
  margin: 10%;
  text-align: left;
  font-size: 1.25em;
}
footer
{
  height: 200px;
  background:rgb(91, 157, 233);
}
.a-nav_bar
{
  color: #EEBB17;
  text-decoration: none;
}
.nav_bar
{
  text-align: right;
  position: fixed;
  width: 100%;
  top: 0 px;
  background:rgba(14, 80, 180, 0.787);
  z-index: 1;
}
.achievements_imagen
{
  width: 300px;
  height: 200px;
}
.about-divs
{
  width: 320px;
  height: 240px;
  padding-top: 10px;
  background: #EEBB17;
  color: black;
  
  
}
.container-fluid {
  padding: 60px 50px;
}
.floating-box
{
  -webkit-box-shadow: 7px 10px 37px -3px rgba(0,0,0,0.75);
  -moz-box-shadow: 7px 10px 37px -3px rgba(0,0,0,0.75);
  box-shadow: 7px 10px 37px -3px rgba(0,0,0,0.75); 
}
#welcome
{
  min-height: 55vh;
  padding-top: 45vh;
  top: 0;
}
#welcome_name
{
  margin-left: 25%;
  margin-right: 30%;
  padding-bottom: 45vh;
}
#welcome-line
{
  background: rgb(155, 185, 233);
  height: 50px;
  margin-right: 30px;
  position: relative;
  bottom: 30px;
}
/*Who I am? Section *****************************************************************************************  */
.a_skill
{
  background: linear-gradient(0deg,rgb(12, 73, 163) 30%,  #3779dbde 60%);
  color: #DBDBDB;
  display: flex;
  width: 120px;  
  height: 55px;
  margin: 10px;
  -webkit-box-shadow: 2px 2px 13px -1px rgb(29, 29, 29);
  -moz-box-shadow: 2px 2px 13px -1px rgb(29, 29, 29);
  box-shadow: 2px 2px 13px -1px rgb(29, 29, 29);
  border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border: 1px solid #696666;
  transition: transform 0.2s ease-in-out 0.1s;
}
.a_skill:hover
{
  /*transform:scale(1.2);*/
  background: linear-gradient(0deg,rgb(12, 73, 163) 30%,  #6baae9de 60%);
}
.skill_icon
{
  width: 37px;
  height: 37px;
  margin: 3px 0px 5px 3px;
}
.p_skill
{
  margin: 10px 0px 7px 12px; 
}
.a_technology
{
  text-align: left;
  padding: 0%;
  margin: 5% 5% 5% 10%;
}
.technology_icon
{
  color: rgb(2, 121, 2);
  margin-right: 7px;
}
.h2_left
{
  text-align: left;
  margin-left: 10%;
}
#About
{
  background: rgb(155, 185, 233);
  color: #363131;
  position: relative;
  height: 480px;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  flex-direction: row;
  top: 50px;
}
#box_who_i_am
{
  width: 40%;
}
#box_skills_technologies
{
  width: 60%;
  background:#EEBB17;
  border: 1px solid rgb(112, 105, 105);
  border-radius: 6px 6px 6px 6px;
  -moz-border-radius: 6px 6px 6px 6px;
  -webkit-border-radius: 6px 6px 6px 6px;
  margin: 15px;
  display: flex;
  flex-direction: row;
}
#skills
{
  width: 40%;
}
#technologies
{
  width: 60%;
}
#skill_list
{
  margin: 20px 0px 20px 20px;
  padding: 10px 0px 10px 0px;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border: 2px dashed rgb(6, 211, 6);;
}
#technologies_list
{
  margin-top: 10%;
}
/* ***********************************************************************************************************  */

#achievements
{
  position: relative;
  top: 50px;
  bottom: 50px;
}
#projects
{
  background: red;
  position: relative;
  top: 50px;
  bottom: 50px;
}

#main-doc
{
  background-image: url("blue-tech.jpg");
  background-color:  #1167E8;
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover; 
  text-align: center;
}
#doc-content
{
  background: rgba(91, 157, 233, 0.568);
  margin-left: 60px;
  margin-right: 60px;
  
}
.nav_bar a:hover {
  background: #ddd;
  color: black;
  text-decoration: none;
}