
body
{
  /*font-family: 'Krub', sans-serif;*/
  /*font-family: 'Montserrat', sans-serif;*/
  /*font-family: 'Exo', sans-serif;*/
  font-family: 'Titillium Web', sans-serif;
  /*font-family: 'KoHo', sans-serif;*/
  color: #DBDBDB;
  background:#0E50B4;
}
h3
{
  color: #EEBB17;
}
p
{
  margin: 5% 10% 10% 10%;
  text-align: left;
  font-size: 1.25em;
}
.floating-box
{
  -webkit-box-shadow: 7px 10px 37px -3px rgba(0,0,0,0.75);
  -moz-box-shadow: 7px 10px 37px -3px rgba(0,0,0,0.75);
  box-shadow: 7px 10px 37px -3px rgba(0,0,0,0.75); 
}
#main-doc
{
  background-image: url("https://lh3.googleusercontent.com/5YsGD_nzU2g1gVguJ5MaVkDEHntoyHy4aHfAxbOY3Ogm1Ute7C2jKCfVTP_yXCNFkwXf0QXpmqM2KUWlcP8J8VhniYNBJsva2MGwL65ms-uBeIC6jg6AIuZ1c6PFsS1NVJrHkX8IiJQ=w2400");
  background-color:  #1167E8;
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover; 
  text-align: center;
}
#doc-content
{
  background: rgba(91, 157, 233, 0.568);
  margin-left: 60px;
  margin-right: 60px;
}
/*Navbar-wellcome Section *****************************************************************************************  */
.li_link
{
  display: block;
  float: right;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}
.a-nav_bar
{
  color: #EEBB17;
  text-decoration: none;
}
.a-nav_bar:hover {
  color: black;
  text-decoration: none;
}
.nav_bar
{
  text-align: right;
  position: fixed;
  width: 100%;
  top: 0 px;
  background:rgba(14, 80, 180, 0.787);
  z-index: 1;
}
#welcome
{
  min-height: 55vh;
  padding-top: 45vh;
  top: 0;
}
#welcome_name
{
  margin-left: 25%;
  margin-right: 30%;
  padding-bottom: 45vh;
}
#welcome-line
{
  background: rgb(155, 185, 233);
  height: 50px;
  margin-right: 30px;
  position: relative;
  bottom: 30px;
}
/* ****************************************************************************************************************  */

/*Who I am? Section ***********************************************************************************************  */
.a_skill
{
  background: linear-gradient(160deg, #3779dbde 50%, rgb(26, 92, 192) 50%);
  color: #DBDBDB;
  display: flex;
  width: 120px;  
  height: 55px;
  margin: 10px;
  -webkit-box-shadow: 2px 2px 13px -1px rgb(29, 29, 29);
  -moz-box-shadow: 2px 2px 13px -1px rgb(29, 29, 29);
  box-shadow: 2px 2px 13px -1px rgb(29, 29, 29);
  border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border: 1px solid #696666;
  transition: transform 0.2s ease-in-out 0.1s;
}
.a_skill:hover
{
  /*transform:scale(1.2);*/
  background: linear-gradient(160deg,rgba(107, 170, 233, 0.871) 50%, rgb(26, 92, 192) 50%);
}
.skill_icon
{
  width: 37px;
  height: 37px;
  margin: 3px 0px 5px 3px;
}
.p_skill
{
  margin: 10px 0px 7px 12px; 
  
}
.a_technology
{
  text-align: left;
  padding: 0%;
  margin: 5% 5% 5% 10%;
}
.technology_icon
{
  color: rgb(2, 121, 2);
  margin-right: 7px;
}
.h2_left
{
  text-align: left;
  margin-left: 10%;
}
.h2_left_3
{
  text-align: left;
  margin-left: 3%;
}
#About
{
  background: rgb(155, 185, 233);
  color: #363131;
  position: relative;
  height: 480px;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  flex-direction: row;
  top: 50px;
}
#box_who_i_am
{
  width: 40%;
}
#box_who_i_am_Header
{
  display: flex;
  align-items: center;
  height: 25%;
  margin-left: 10%;
}
#My_photo
{
  height: 90px;
  width: 90px;
  border-radius: 11px 11px 11px 11px;
  border: 2px solid #363131;
}
#box_skills_technologies
{
  width: 60%;
  background:#EEBB17;
  border: 1px solid rgb(112, 105, 105);
  border-radius: 6px 6px 6px 6px;
  -moz-border-radius: 6px 6px 6px 6px;
  -webkit-border-radius: 6px 6px 6px 6px;
  margin: 15px;
  display: flex;
  flex-direction: row;
}
#skills
{
  width: 40%;
}
#arrow
{
  color: rgb(2, 121, 2);
  text-align: center;
  font-size: 3em;
}
#arrow :hover
{
  transform: rotate(90deg);
  /*animation-duration: 0.6s;
  animation-name: rotating;
  animation-iteration-count: 1;*/
}
/*@keyframes rotating
{
  0%
  {
     transform: rotate(0deg);
  }
  100%
  {
    transform: rotate(90deg);
  }
}*/
#technologies
{
  width: 60%;
}
#skill_list
{
  margin: 20px 0px 20px 20px;
  padding: 10px 0px 10px 0px;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border: 2px dashed rgb(6, 211, 6);
}
#technologies_list
{
  margin-top: 10%;
}
/* ***********************************************************************************************************  */

/*Skills-Project Section *****************************************************************************************  */
.container-fluid {
  padding: 60px 50px;
}
.title_box
{
  background: rgba(155, 185, 233, 0.733);
  margin: 70px 30px 30px 30px;
  height: 70px;
}
.title_box_interior
{
  border: 2px solid rgb(238, 187, 23);
  padding-top: 5px;
  height: 50px;
  position: relative;
  top: 10px;
  background: rgb(14, 80, 180);
  margin: 0px 30px 0px 30px; 
}
.h2_padding_0
{
  padding: 0;
  margin: 0;
}
#achievements
{
  position: relative;
  top: 50px;
  bottom: 50px;
}
#projects
{
  position: relative;
  top: 50px;
  bottom: 50px;
}
.achievements_imagen
{
  width: 300px;
  height: 200px;
  border: 2px solid rgb(238, 187, 23);
}
.achievements-divs
{
  width: 340px;
  height: 260px;
  padding-top: 10px;
  background: rgba(14, 80, 180, 0.637);
  color: #DBDBDB;
}
.project-divs
{
  width: 340px;
  height: 450px;
  padding-top: 10px;
  margin-bottom: 50px;
  background: rgba(14, 80, 180, 0.637);
  color: #DBDBDB;
}
.achievements-divs:hover
{
  -webkit-box-shadow: 1px 10px 45px 2px rgb(238, 187, 23);
  -moz-box-shadow: 1px 10px 45px 2px rgb(238, 187, 23);
  box-shadow: 1px 10px 45px 2px rgb(238, 187, 23);
}
.project-divs:hover
{
  -webkit-box-shadow: 1px 10px 45px 2px rgb(238, 187, 23);
  -moz-box-shadow: 1px 10px 45px 2px rgb(238, 187, 23);
  box-shadow: 1px 10px 45px 2px rgb(238, 187, 23);
  -webkit-transform:scale(1.05);
  -moz-transform:scale(1.05);
  transform:scale(1.05);
}
.p_project_title
{
  padding: 0;
  margin: 2px 0px 7px 0px;
  font-size: 1.6em;
}
.li_project
{
  padding:0;
  margin: 5px 0px 5px 0px;
  font-size: 1em;
  text-align: left;
}
.container_ul_project
{
  background: rgba(68, 132, 228, 0.637);
  margin: 0px 20px 0px 20px;
  padding: 5px 5px 5px 30px;
  height: 175px;
  list-style-type: square;
}
/* ****************************************************************************************************************  */

/*Footer Section **************************************************************************************************  */
footer
{
  height: 200px;
  background:rgb(91, 157, 233);
}
/* ****************************************************************************************************************  */


